## 01. Importing Libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Data

In [2]:
# Creating a path to main project folder
path = r'C:\Users\jboer\OneDrive\Documents\Career Foundry\Instacart Basket Analysis'

In [3]:
# Importing orders_checked.csv file
df_ords = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','orders_checked.csv'), index_col = False)

In [4]:
# Importing orders_products_prior.csv file
df_ords_prior = pd.read_csv(os.path.join(path,'02 Data','Original Data','orders_products_prior.csv'), index_col = False)

## 03. Checking Data

In [5]:
# Checking output of df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# Checking output of df_ords
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,0.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [10]:
# Dropping extra "Unnamed" column from df_ords
df_ords = df_ords.drop(columns = ['Unnamed: 0.1'])

In [11]:
df_ords_prior.shape

(32434489, 4)

In [12]:
df_ords.shape

(3421083, 7)

## 04. Merging Data

In [13]:
# Merging df_ords_prior with df_ords with key "order_id"
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [15]:
# Checking new dataframe df_merged_large
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,1,2,8,0.0,26405,5,0,both

In [16]:
# Checking "_merge" frequency
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

##### We don't actually have a full match because we used inner join meaning the table will only show observations found in both dataframes. If a "how=outer" argument was use we would see the real merge rate shows a frequency of 206,209 for left-only. Always double check merge rates with an outer join.

In [19]:
# Checking shape of new merged dataframe
df_merged_large.shape

(32434489, 11)

## 05. Exporting Data as Pickle

In [18]:
# Exporting newly merged dataframe as a .pkl file
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))